<strip>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/resizeable.js"></script>
    <script src="/assets/js/joinable.js"></script>
    <script src="/assets/js/xenon-api.js"></script>
    <script src="/assets/js/xenon-toggles.js"></script>
    <script src="/assets/js/jquery-validate/jquery.validate.min.js"></script>
    <script src="/assets/js/toastr/toastr.min.js"></script>

    <script src="/assets/js/xenon-custom.js"></script>
<!--    <script type="text/javascript">-->
<!--        window.info_jump = {$info_jump}-->
<!--        console.log(hahah);-->
<!--        console.log(info_jump);-->
<!--    </script>-->

</strip>